main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.time {
    font-size: 18px;
    font-weight: bold;
}

.boad-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.board-block {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #d3d6d3;
    width: 60px;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
}



